.advantages {
  @include list-style;

  background-color: $color-blue;
  color: $color-white;

  padding: 42px 20px 40px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 22px;

  @media (min-width: $tablet) {
    padding: 72px 50px 50px 70px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 54px 52px;
  }

  @media (min-width: $desktop) {
    padding: 72px 100px 50px 120px;
  }
}

.advantages__item {
  border: 1px solid $color-beige;
  border-radius: 16px;

  padding: 15px 21px 15px 20px;

  display: flex;
  flex-direction: column;

  gap: 15px;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    width: 42px;
    height: 42px;

    top: -23px;
    left: -21px;

    background-color: $color-blue;
    background-image: url("/__spritemap#sprite-advantage-star-view");
    background-repeat: no-repeat;
    background-size: 18px 22px;
    background-position: center;
  }

  @media (min-width: $tablet) {
    padding: 16px 21px 15px 20px;

    gap: 14px;
  }

  @media (min-width: $desktop) {
    padding: 30px 41px 30px 40px;

    flex-direction: row;
    align-items: center;

    gap: 31px;
  }
}

.advantages__item h4 {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.15px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop) {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.2px;

    min-width: 170px;
    max-width: 250px;
  }
}

.advantages__item p {
  margin: 0;

  color: $color-beige;

  font-weight: 300;

  @media (min-width: $desktop) {
    font-size: 16px;
    line-height: 20px;
  }
}
