.review {
  padding: 30px 17px 30px 15px;

  border: 2px solid $color-blue;
  border-radius: 16px;

  min-width: 290px;
  max-width: 290px;

  @media (min-width: $tablet) {
    padding: 50px 51px 50px 50px;

    min-width: 560px;
    max-width: 560px;
  }

  @media (min-width: $desktop) {
    padding: 50px 47px 50px 50px;

    min-width: 604px;
    max-width: 604px;
  }
}

.review__wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    margin: 0 0 31px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 30px;
  }
}

.review__author {
  display: flex;
  align-items: center;
  gap: 10px;

  margin: 0 0 16px;

  @media (min-width: $tablet) {
    gap: 15px;

    margin: 0;
  }
}

.review__author-image {
  border-radius: 50%;

  display: block;

  width: 60px;
  height: 60px;

  @media (min-width: $tablet) {
    width: 90px;
    height: 90px;
  }
}

.review__author-name {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 18px;

  color: $color-blue;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;

    padding: 1px 0 0;
  }

  @media (min-width: $desktop) {
    font-size: 18px;

    padding: 0;
  }
}

.review__inner {
  margin: 0 0 24px;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 1px 0 0;
  }

  @media (min-width: $desktop) {
    padding: 2px 0 0;
  }
}

.review__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  color: $color-blue;

  margin: 0 0 20px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;

    margin: 0 0 24px;
  }

  @media (min-width: $desktop) {
    font-size: 24px;
    line-height: 26px;

    margin: 0 0 25px;
  }
}

.review__content p {
  margin: 0;
}
