$color-dark-grey: #484848;
$color-white: #ffffff;
$color-beige: #f0efe9;
$color-blue: #316dc2;
$color-dark-blue: #275699;
$color-grey: #a9afb7;
$color-red: #ff5e66;
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
